body {
    font-family: 'Arial', sans-serif; /* Zmiana czcionki na Arial */
    background-color: #f0f0f0; /* Kolor tła strony */
    color: #333; /* Kolor tekstu */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #333; /* Kolor tła nagłówka */
    color: #fff; /* Kolor tekstu nagłówka */
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff; /* Kolor linków w nagłówku */
    text-decoration: none;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #333; /* Kolor nagłówków */
}

a {
    color: #007bff; /* Kolor linków */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333; /* Kolor tła stopki */
    color: #fff; /* Kolor tekstu stopki */
    padding: 20px 0;
    text-align: center;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}
